<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<!-- Spring和mybatis的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring-mybatis.xml
			classpath:spring-task.xml
		</param-value>
	</context-param> 
	<!-- 加载Log4J 配置文件  -->  
	<context-param>  
	    <param-name>log4jConfigLocation</param-name>  
	    <param-value>classpath:log4j.properties</param-value>  
	</context-param>     
	  
	<context-param>  
	    <param-name>log4jRefreshInterval</param-name>  
	      <param-value>3000</param-value>  
	 </context-param>  
	<listener>  
	    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
	 </listener> 
	 
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--用户login过滤器-->
 <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>cn.com.seo.base.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/keywords/keywordsListShow.action</url-pattern>
  </filter-mapping>  
   <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/money/tranDetailList.action</url-pattern>
  </filter-mapping>  
  <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/money/tranSerialList.action</url-pattern>
  </filter-mapping>  
  <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/money/rechangeList.action</url-pattern>
  </filter-mapping>  
  <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/userDetail.action</url-pattern>
  </filter-mapping>
    <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/index.action</url-pattern>
  </filter-mapping> 
    <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/keyPrice.action</url-pattern>
  </filter-mapping>  
    <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/keyAdd.action</url-pattern>
  </filter-mapping>  
    <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/keyDr.action</url-pattern>
  </filter-mapping>  
    <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/money/tranKeys.action</url-pattern>
  </filter-mapping>  
    <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/rechangeAdd.action</url-pattern>
  </filter-mapping>  
     <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/userUptPwd.action</url-pattern>
  </filter-mapping>  
      <filter-mapping>
       <filter-name>LoginFilter</filter-name>
       <url-pattern>/user/uploadKeyFile.action</url-pattern>
  </filter-mapping>      
  <!--管理员login过滤器-->
  <filter>
      <filter-name>AdminLoginFilter</filter-name>
      <filter-class>cn.com.seo.base.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/index.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/keyprice.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/keyadd.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/keylist.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/keychecklist.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/transeriallist.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/trandetaillist.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/trankeys.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/rechangeadd.action</url-pattern>
  </filter-mapping> 
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/rechangelist.action</url-pattern>
  </filter-mapping> 
   <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/list.action</url-pattern>
  </filter-mapping> 
   <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/upt.action</url-pattern>
  </filter-mapping> 
   <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/user/userListShow.action</url-pattern>
  </filter-mapping> 
   <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/add.action</url-pattern>
  </filter-mapping> 
   <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/adminUptPwd.action</url-pattern>
  </filter-mapping> 
   <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/keydr.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/uploadKeyFile.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>AdminLoginFilter</filter-name>
       <url-pattern>/admin/loadKeyPm.action</url-pattern>
  </filter-mapping>  
	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止Spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Spring MVC servlet -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
			
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<!-- 此处可以可以配置成*.do，对应struts的后缀习惯 -->
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>client/login.jsp</welcome-file>
	</welcome-file-list>
	

</web-app>